<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>


        <!--<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
        <property name="connection.url">jdbc:mysql://localhost:3306/imchatdb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>


        <!-- hibernate所使用的数据库方言 -->
        <property name="dialect">org.hibernate.dialect.MySQLMyISAMDialect</property>
        <!-- 执行操作时是否在控制台打印sql -->
        <property name="show_sql">true</property>
        <!-- 是否对sql进行格式化 -->
        <property name="format_sql">true</property>
        <!-- 指定自动生成数据表的策略 -->
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- 选择使用C3P0连接池 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 连接池中最小连接数 -->
        <property name="hibernate.c3p0.min_size">5</property>
        <!-- 连接池中最大连接数 -->
        <property name="hibernate.c3p0.max_size">20</property>
        <!-- 设定数据库连接超时时间，以秒为单位。如果连接池中某个数据库连接处于空闲状态且超过timeout秒时，就会从连接池中移除 -->
        <property name="hibernate.c3p0.timeout">120</property>
        <!-- 设置数据库 -->
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping resource="pojo/file.xml"/>
        <mapping resource="pojo/user.xml"/>
        <mapping resource="pojo/chatMessage.xml"/>
        <mapping resource="pojo/friend.xml"/>
    </session-factory>
</hibernate-configuration>